.fcard{
    grid-row: 2/3;
    grid-column: 1/2;
    width: 300px;
    height: 400px;
    justify-self: center;
    align-self: center;
    background-image: linear-gradient(360deg , rgb(93,53,235,10%)  ,rgb(190,0,234,0%));;
    margin: 0 auto;
    padding: 10px;
    border-top: 2px solid rgb(93, 53, 135, 25%);
    border-right: 1px solid rgb(93, 53, 135, 25%);
    border-left: 1px solid rgb(93, 53, 135, 25%);
    border-radius: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(149, 40, 200, 0.285);
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 60px 12px -18px rgb(0, 0, 0,0.1), 0 60px 20px -12px rgb(0, 0, 0, 0.1);
    animation: anime 1.2s infinite ease-in-out alternate;
    -webkit-animation: anime 1.2s infinite ease-in-out alternate;
}
.fch1{
    grid-row: span 3;
    align-self: center;
    justify-self: center;
    color: rgb(57, 36, 103);
    font-family: Inter;
    font-weight: bold;
    font-size: 50px;
    text-shadow: 9px 2px 4px rgb(93, 53, 135, 25%);
    margin: 0px;
}
.fcard:hover .fch1{
    opacity: 0.2;
}

.fcard:hover {
    transform: scale(1.05);
}


.fcard .card-con {
    margin: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgb(93,53,235,10%)  ,rgb(190,0,234,0%) 100%);
    backdrop-filter: blur(3px);
    transition: 0.5s ease-in-out;
    z-index: 1;
    bottom: -100%;
    border-radius: 20px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
    
}
.fcard:hover .card-con {
    bottom: 0;


}
.sc1{
    grid-row: 1/2;
    justify-self: center;
    align-self: center;
    z-index: 2;
    width: 100%; 
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;  
}
.cil1{
    grid-row: 1/2;
    grid-column: 1/2;
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.ci1{
    width: 100px !important;
    height: 100px !important;
    object-fit: contain;
    justify-self: center;
    align-self: center;
}
.cl1{
    grid-row: 2/3;
    justify-self: center;
    align-self: center;
    color: black;
    font-family: Inter;
    font-weight: bold;
    font-size: 20px;
    text-shadow: 9px 2px 4px rgb(93, 53, 135, 25%);
    margin: 0px;
}
.cil2{
    grid-row: 1/2;
    grid-column: 2/3;
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.ci2{
    width: 100px !important;
    height: 100px !important;
    object-fit: contain;
    justify-self: center;
    align-self: center;
}
.cl2{
    grid-row: 2/3;
    justify-self: center;
    align-self: center;
    color: black;
    font-family: Inter;
    font-weight: bold;
    font-size: 20px;
    text-shadow: 9px 2px 4px rgb(93, 53, 135, 25%);
    margin: 0px;
}
.cil3{
    grid-row: 2/3;
    grid-column: span 2;
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.ci3{
    width: 100px !important;
    height: 100px !important;
    object-fit: contain;
    justify-self: center;
    align-self: center;
}
.cl3{
    grid-row: 2/3;
    justify-self: center;
    align-self: center;
    color: black;
    font-family: Inter;
    font-weight: bold;
    font-size: 20px;
    text-shadow: 9px 2px 4px rgb(93, 53, 135, 25%);
    margin: 0px;
}

.bcard{
    grid-row: 2/3;
    grid-column: 2/3;
    width: 300px;
    height: 400px;
    justify-self: center;
    align-self: center;
    background-image: linear-gradient(360deg , rgb(93,53,235,10%)  ,rgb(190,0,234,0%));;
    margin: 0 auto;
    padding: 10px;
    border-top: 2px solid rgb(93, 53, 135, 25%);
    border-right: 1px solid rgb(93, 53, 135, 25%);
    border-left: 1px solid rgb(93, 53, 135, 25%);
    border-radius: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(149, 40, 200, 0.285);
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 60px 12px -18px rgb(0, 0, 0,0.1), 0 60px 20px -12px rgb(0, 0, 0, 0.1);
    animation: anime 1.5s infinite ease-in-out alternate;
    -webkit-animation: anime 1.5s infinite ease-in-out alternate;
}
.bch1{
    grid-row: span 3;
    align-self: center;
    justify-self: center;
    color: rgb(57, 36, 103);
    font-family: Inter;
    font-weight: bold;
    font-size: 50px;
    text-shadow: 9px 2px 4px rgb(93, 53, 135, 25%);
    margin: 0px;
}
.bcard:hover .bch1{
    opacity: 0.2;
}

.bcard:hover {
    transform: scale(1.05);
}


.bcard .card-con {
    margin: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgb(93,53,235,10%)  ,rgb(190,0,234,0%) 100%);
    backdrop-filter: blur(3px);
    transition: 0.5s ease-in-out;
    z-index: 1;
    bottom: -100%;
    border-radius: 20px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
    
}
.bcard:hover .card-con {
    bottom: 0;


}
.ucard{
    grid-row: 2/3;
    grid-column: 3/4;
    width: 300px;
    height: 400px;
    justify-self: center;
    align-self: center;
    background-image: linear-gradient(360deg , rgb(93,53,235,10%)  ,rgb(190,0,234,0%));;
    margin: 0 auto;
    padding: 10px;
    border-top: 2px solid rgb(93, 53, 135, 25%);
    border-right: 1px solid rgb(93, 53, 135, 25%);
    border-left: 1px solid rgb(93, 53, 135, 25%);
    border-radius: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(149, 40, 200, 0.285);
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 60px 12px -18px rgb(0, 0, 0,0.1), 0 60px 20px -12px rgb(0, 0, 0, 0.1);
    animation: anime 1.3s infinite ease-in-out alternate;
    -webkit-animation: anime 1.3s infinite ease-in-out alternate;
}
.uch1{
    grid-row: span 3;
    align-self: center;
    justify-self: center;
    color: rgb(57, 36, 103);
    font-family: Inter;
    font-weight: bold;
    font-size: 50px;
    text-shadow: 9px 2px 4px rgb(93, 53, 135, 25%);
    margin: 0px;
}
.ucard:hover .uch1{
    opacity: 0.2;
}

.ucard:hover {
    transform: scale(1.05);
}


.ucard .card-con {
    margin: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgb(93,53,235,10%)  ,rgb(190,0,234,0%) 100%);
    backdrop-filter: blur(3px);
    transition: 0.5s ease-in-out;
    z-index: 1;
    bottom: -100%;
    border-radius: 20px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
    
}
.ucard:hover .card-con {
    bottom: 0;


}
.ocard{
    grid-row: 3/4;
    grid-column: 1/2;
    width: 300px;
    height: 400px;
    justify-self: center;
    align-self: center;
    background-image: linear-gradient(360deg , rgb(93,53,235,10%)  ,rgb(190,0,234,0%));;
    margin: 0 auto;
    padding: 10px;
    border-top: 2px solid rgb(93, 53, 135, 25%);
    border-right: 1px solid rgb(93, 53, 135, 25%);
    border-left: 1px solid rgb(93, 53, 135, 25%);
    border-radius: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(149, 40, 200, 0.285);
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 60px 12px -18px rgb(0, 0, 0,0.1), 0 60px 20px -12px rgb(0, 0, 0, 0.1);
    animation: anime 1.3s infinite ease-in-out alternate;
    -webkit-animation: anime 1.3s infinite ease-in-out alternate;
}
.och1{
    grid-row: span 3;
    align-self: center;
    justify-self: center;
    color: rgb(57, 36, 103);
    font-family: Inter;
    font-weight: bold;
    font-size: 45px;
    text-shadow: 9px 2px 4px rgb(93, 53, 135, 25%);
    margin: 0px;
}
.ocard:hover .och1{
    opacity: 0.2;
}

.ocard:hover {
    transform: scale(1.05);
}


.ocard .card-con {
    margin: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgb(93,53,235,10%)  ,rgb(190,0,234,0%) 100%);
    backdrop-filter: blur(3px);
    transition: 0.5s ease-in-out;
    z-index: 1;
    bottom: -100%;
    border-radius: 20px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
    
}
.ocard:hover .card-con {
    bottom: 0;


}

.tcard{
    grid-row: 3/4;
    grid-column: 2/3;
    width: 300px;
    height: 400px;
    justify-self: center;
    align-self: center;
    background-image: linear-gradient(360deg , rgb(93,53,235,10%)  ,rgb(190,0,234,0%));;
    margin: 0 auto;
    padding: 10px;
    border-top: 2px solid rgb(93, 53, 135, 25%);
    border-right: 1px solid rgb(93, 53, 135, 25%);
    border-left: 1px solid rgb(93, 53, 135, 25%);
    border-radius: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(149, 40, 200, 0.285);
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 60px 12px -18px rgb(0, 0, 0,0.1), 0 60px 20px -12px rgb(0, 0, 0, 0.1);
    animation: anime 1.5s infinite ease-in-out alternate;
    -webkit-animation: anime 1.5s infinite ease-in-out alternate;
}
.tch1{
    grid-row: span 3;
    align-self: center;
    justify-self: center;
    color: rgb(57, 36, 103);
    font-family: Inter;
    font-weight: bold;
    font-size: 50px;
    text-shadow: 9px 2px 4px rgb(93, 53, 135, 25%);
    margin: 0px;
}
.tcard:hover .tch1{
    opacity: 0.2;
}

.tcard:hover {
    transform: scale(1.05);
}


.tcard .card-con {
    margin: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgb(93,53,235,10%)  ,rgb(190,0,234,0%) 100%);
    backdrop-filter: blur(3px);
    transition: 0.5s ease-in-out;
    z-index: 1;
    bottom: -100%;
    border-radius: 20px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
    
}
.tcard:hover .card-con {
    bottom: 0;


}

.vcard{
    grid-row: 3/4;
    grid-column: 3/4;
    width: 300px;
    height: 400px;
    justify-self: center;
    align-self: center;
    background-image: linear-gradient(360deg , rgb(93,53,235,10%)  ,rgb(190,0,234,0%));;
    margin: 0 auto;
    padding: 10px;
    border-top: 2px solid rgb(93, 53, 135, 25%);
    border-right: 1px solid rgb(93, 53, 135, 25%);
    border-left: 1px solid rgb(93, 53, 135, 25%);
    border-radius: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(149, 40, 200, 0.285);
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 60px 12px -18px rgb(0, 0, 0,0.1), 0 60px 20px -12px rgb(0, 0, 0, 0.1);
    animation: anime 1.2s infinite ease-in-out alternate;
    -webkit-animation: anime 1.2s infinite ease-in-out alternate;
}
.vch1{
    grid-row: span 3;
    align-self: center;
    justify-self: center;
    color: rgb(57, 36, 103);
    font-family: Inter;
    font-weight: bold;
    font-size: 35px;
    text-shadow: 9px 2px 4px rgb(93, 53, 135, 25%);
    margin: 0px;
}
.vcard:hover .vch1{
    opacity: 0.2;
}

.vcard:hover {
    transform: scale(1.05);
}


.vcard .card-con {
    margin: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgb(93,53,235,10%)  ,rgb(190,0,234,0%) 100%);
    backdrop-filter: blur(3px);
    transition: 0.5s ease-in-out;
    z-index: 1;
    bottom: -100%;
    border-radius: 20px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
    
}
.vcard:hover .card-con {
    bottom: 0;


}

.vcil1{
    grid-row: span 2;
    grid-column: span 2;
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.skm{
    display: none;
}
.fcardm{
    grid-row: 2/3;
    grid-column: 1/2;
    width: 300px;
    height: 400px;
    justify-self: center;
    align-self: center;
    background-image: linear-gradient(360deg , rgb(93,53,235,10%)  ,rgb(190,0,234,0%));;
    margin: 0 auto;
    padding: 10px;
    border-top: 2px solid rgb(93, 53, 135, 25%);
    border-right: 1px solid rgb(93, 53, 135, 25%);
    border-left: 1px solid rgb(93, 53, 135, 25%);
    border-radius: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(149, 40, 200, 0.285);
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 60px 12px -18px rgb(0, 0, 0,0.1), 0 60px 20px -12px rgb(0, 0, 0, 0.1);
    animation: anime 1.2s infinite ease-in-out alternate;
    -webkit-animation: anime 1.2s infinite ease-in-out alternate;
}
.fch1{
    grid-row: span 3;
    align-self: center;
    justify-self: center;
    color: rgb(57, 36, 103);
    font-family: Inter;
    font-weight: bold;
    font-size: 50px;
    text-shadow: 9px 2px 4px rgb(93, 53, 135, 25%);
    margin: 0px;
}
.fcardm:hover .fch1{
    opacity: 0.2;
}

.fcardm:hover {
    transform: scale(1.05);
}


.fcardm .card-con {
    margin: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgb(93,53,235,10%)  ,rgb(190,0,234,0%) 100%);
    backdrop-filter: blur(3px);
    transition: 0.5s ease-in-out;
    z-index: 1;
    bottom: -100%;
    border-radius: 20px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
    
}
.fcardm:hover .card-con {
    bottom: 0;


}
.bcardm{
    grid-row: 2/3;
    grid-column: 2/3;
    width: 300px;
    height: 400px;
    justify-self: center;
    align-self: center;
    background-image: linear-gradient(360deg , rgb(93,53,235,10%)  ,rgb(190,0,234,0%));;
    margin: 0 auto;
    padding: 10px;
    border-top: 2px solid rgb(93, 53, 135, 25%);
    border-right: 1px solid rgb(93, 53, 135, 25%);
    border-left: 1px solid rgb(93, 53, 135, 25%);
    border-radius: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(149, 40, 200, 0.285);
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 60px 12px -18px rgb(0, 0, 0,0.1), 0 60px 20px -12px rgb(0, 0, 0, 0.1);
    animation: anime 1.5s infinite ease-in-out alternate;
    -webkit-animation: anime 1.5s infinite ease-in-out alternate;
}
.bch1{
    grid-row: span 3;
    align-self: center;
    justify-self: center;
    color: rgb(57, 36, 103);
    font-family: Inter;
    font-weight: bold;
    font-size: 50px;
    text-shadow: 9px 2px 4px rgb(93, 53, 135, 25%);
    margin: 0px;
}
.bcardm:hover .bch1{
    opacity: 0.2;
}

.bcardm:hover {
    transform: scale(1.05);
}


.bcardm .card-con {
    margin: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgb(93,53,235,10%)  ,rgb(190,0,234,0%) 100%);
    backdrop-filter: blur(3px);
    transition: 0.5s ease-in-out;
    z-index: 1;
    bottom: -100%;
    border-radius: 20px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
    
}
.bcardm:hover .card-con {
    bottom: 0;


}
.ucardm{
    grid-row: 2/3;
    grid-column: 3/4;
    width: 300px;
    height: 400px;
    justify-self: center;
    align-self: center;
    background-image: linear-gradient(360deg , rgb(93,53,235,10%)  ,rgb(190,0,234,0%));;
    margin: 0 auto;
    padding: 10px;
    border-top: 2px solid rgb(93, 53, 135, 25%);
    border-right: 1px solid rgb(93, 53, 135, 25%);
    border-left: 1px solid rgb(93, 53, 135, 25%);
    border-radius: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(149, 40, 200, 0.285);
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 60px 12px -18px rgb(0, 0, 0,0.1), 0 60px 20px -12px rgb(0, 0, 0, 0.1);
    animation: anime 1.3s infinite ease-in-out alternate;
    -webkit-animation: anime 1.3s infinite ease-in-out alternate;
}
.uch1{
    grid-row: span 3;
    align-self: center;
    justify-self: center;
    color: rgb(57, 36, 103);
    font-family: Inter;
    font-weight: bold;
    font-size: 50px;
    text-shadow: 9px 2px 4px rgb(93, 53, 135, 25%);
    margin: 0px;
}
.ucardm:hover .uch1{
    opacity: 0.2;
}

.ucardm:hover {
    transform: scale(1.05);
}


.ucardm .card-con {
    margin: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgb(93,53,235,10%)  ,rgb(190,0,234,0%) 100%);
    backdrop-filter: blur(3px);
    transition: 0.5s ease-in-out;
    z-index: 1;
    bottom: -100%;
    border-radius: 20px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
    
}
.ucardm:hover .card-con {
    bottom: 0;


}
.ocardm{
    grid-row: 3/4;
    grid-column: 1/2;
    width: 300px;
    height: 400px;
    justify-self: center;
    align-self: center;
    background-image: linear-gradient(360deg , rgb(93,53,235,10%)  ,rgb(190,0,234,0%));;
    margin: 0 auto;
    padding: 10px;
    border-top: 2px solid rgb(93, 53, 135, 25%);
    border-right: 1px solid rgb(93, 53, 135, 25%);
    border-left: 1px solid rgb(93, 53, 135, 25%);
    border-radius: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(149, 40, 200, 0.285);
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 60px 12px -18px rgb(0, 0, 0,0.1), 0 60px 20px -12px rgb(0, 0, 0, 0.1);
    animation: anime 1.3s infinite ease-in-out alternate;
    -webkit-animation: anime 1.3s infinite ease-in-out alternate;
}
.och1{
    grid-row: span 3;
    align-self: center;
    justify-self: center;
    color: rgb(57, 36, 103);
    font-family: Inter;
    font-weight: bold;
    font-size: 45px;
    text-shadow: 9px 2px 4px rgb(93, 53, 135, 25%);
    margin: 0px;
}
.ocardm:hover .och1{
    opacity: 0.2;
}

.ocardm:hover {
    transform: scale(1.05);
}


.ocardm .card-con {
    margin: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgb(93,53,235,10%)  ,rgb(190,0,234,0%) 100%);
    backdrop-filter: blur(3px);
    transition: 0.5s ease-in-out;
    z-index: 1;
    bottom: -100%;
    border-radius: 20px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
    
}
.ocardm:hover .card-con {
    bottom: 0;


}

.tcardm{
    grid-row: 3/4;
    grid-column: 2/3;
    width: 300px;
    height: 400px;
    justify-self: center;
    align-self: center;
    background-image: linear-gradient(360deg , rgb(93,53,235,10%)  ,rgb(190,0,234,0%));;
    margin: 0 auto;
    padding: 10px;
    border-top: 2px solid rgb(93, 53, 135, 25%);
    border-right: 1px solid rgb(93, 53, 135, 25%);
    border-left: 1px solid rgb(93, 53, 135, 25%);
    border-radius: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(149, 40, 200, 0.285);
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 60px 12px -18px rgb(0, 0, 0,0.1), 0 60px 20px -12px rgb(0, 0, 0, 0.1);
    animation: anime 1.5s infinite ease-in-out alternate;
    -webkit-animation: anime 1.5s infinite ease-in-out alternate;
}
.tch1{
    grid-row: span 3;
    align-self: center;
    justify-self: center;
    color: rgb(57, 36, 103);
    font-family: Inter;
    font-weight: bold;
    font-size: 50px;
    text-shadow: 9px 2px 4px rgb(93, 53, 135, 25%);
    margin: 0px;
}
.tcardm:hover .tch1{
    opacity: 0.2;
}

.tcardm:hover {
    transform: scale(1.05);
}


.tcardm .card-con {
    margin: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgb(93,53,235,10%)  ,rgb(190,0,234,0%) 100%);
    backdrop-filter: blur(3px);
    transition: 0.5s ease-in-out;
    z-index: 1;
    bottom: -100%;
    border-radius: 20px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
    
}
.tcardm:hover .card-con {
    bottom: 0;


}

.vcardm{
    grid-row: 3/4;
    grid-column: 3/4;
    width: 300px;
    height: 400px;
    justify-self: center;
    align-self: center;
    background-image: linear-gradient(360deg , rgb(93,53,235,10%)  ,rgb(190,0,234,0%));;
    margin: 0 auto;
    padding: 10px;
    border-top: 2px solid rgb(93, 53, 135, 25%);
    border-right: 1px solid rgb(93, 53, 135, 25%);
    border-left: 1px solid rgb(93, 53, 135, 25%);
    border-radius: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(149, 40, 200, 0.285);
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 60px 12px -18px rgb(0, 0, 0,0.1), 0 60px 20px -12px rgb(0, 0, 0, 0.1);
    animation: anime 1.2s infinite ease-in-out alternate;
    -webkit-animation: anime 1.2s infinite ease-in-out alternate;
}
.vch1{
    grid-row: span 3;
    align-self: center;
    justify-self: center;
    color: rgb(57, 36, 103);
    font-family: Inter;
    font-weight: bold;
    font-size: 35px;
    text-shadow: 9px 2px 4px rgb(93, 53, 135, 25%);
    margin: 0px;
}
.vcardm:hover .vch1{
    opacity: 0.2;
}

.vcardm:hover {
    transform: scale(1.05);
}


.vcardm .card-con {
    margin: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgb(93,53,235,10%)  ,rgb(190,0,234,0%) 100%);
    backdrop-filter: blur(3px);
    transition: 0.5s ease-in-out;
    z-index: 1;
    bottom: -100%;
    border-radius: 20px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
    
}
.vcardm:hover .card-con {
    bottom: 0;


}

.vcil1{
    grid-row: span 2;
    grid-column: span 2;
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

@keyframes anime {
    100% {
        transform: translateY(20px);
        -webkit-transform: translateY(20px);
        -moz-transform: translateY(20px);
        -ms-transform: translateY(20px);
        -o-transform: translateY(20px);
        box-shadow: 0 40px 10px -18px rgba(0,0,0,0.2), 0 40px 16px -12px rgba(0,0,0,0.2);
    }
}
@media (min-width: 1024px) and (max-width: 1439px)
{
    .skh1{
        font-size: 60px;
    }
    .skl1{
        width: 70%;
    }
    .skl2{
        width: 70%;
    }
    .fcard{
        width: 250px;
        height: 350px;
    }
    .bcard{
        width: 250px;
        height: 350px;
    }
    .ucard{
        width: 250px;
        height: 350px;
    }
    .ocard{
        width: 250px;
        height: 350px;
    }
    .tcard{
        width: 250px;
        height: 350px;
    }
    .vcard{
        width: 250px;
        height: 350px;
    }
    .ct{
        font-size: 50px;
        align-self: end;
    }
    .cst{
        font-size: 25px;
    }
    .cbtn{
        align-self: start;
    }
}

@media(min-width: 768px) and (max-width: 1023px){
    .skh1{
        font-size: 50px;
    }
    .skl1{
        width: 60%;
    }
    .skl2{
        width: 60%;
    }
    .ci1{
        width: 80px !important;
        height: 80px !important;
    }
    .cl1{
        font-size: 16px;
    }
    .ci2{
        width: 80px !important;
        height: 80px !important;
    }
    .cl2{
        font-size: 18px;
    }
    .ci3{
        width: 80px !important;
        height: 80px !important;
    }
    .cl3{
        font-size: 18PX;
    }
    .fcard{
        width: 200px;
        height: 350px;
    }
    .fch1{
        font-size: 40px;
    }
    .bcard{
        width: 200px;
        height: 350px;
    }
    .bch1{
        font-size: 40px;
    }
    .ucard{
        width: 200px;
        height: 350px;
    }
    .uch1{
        font-size: 40px;
    }
    .ocard{
        width: 200px;
        height: 350px;
    }
    .och1{
        font-size: 40px;
    }
    .tcard{
        width: 200px;
        height: 350px;
    }
    .tch1{
        font-size: 40px;
    }
    .vcard{
        width: 200px;
        height: 350px;
    }
    .vch1{
        font-size: 30px;
    }
    .ct{
        font-size: 40px;
        align-self: end;
    }
    .cst{
        font-size: 20px;
    }
    .cbtn{
        align-self: start;
    }
}



@media(min-width: 663px) and (max-width: 767px){
    .skh1{
        font-size: 50px;
    }
    .skl1{
        width: 60%;
    }
    .skl2{
        width: 60%;
    }
    .ci1{
        width: 80px !important;
        height: 80px !important;
    }
    .cl1{
        font-size: 14px;
    }
    .ci2{
        width: 80px !important;
        height: 80px !important;
    }
    .cl2{
        font-size: 12px;
    }
    .ci3{
        width: 60px !important;
        height: 60px !important;
    }
    .cl3{
        font-size: 16PX;
    }
    .fcard{
        width: 150px;
        height: 250px;
    }
    .fch1{
        font-size: 30px;
    }
    .bcard{
        width: 150px;
        height: 250px;
    }
    .bch1{
        font-size: 30px;
    }
    .ucard{
        width: 150px;
        height: 250px;
    }
    .uch1{
        font-size: 30px;
    }
    .ocard{
        width: 150px;
        height: 250px;
    }
    .och1{
        font-size: 28px;
    }
    .tcard{
        width: 150px;
        height: 250px;
    }
    .tch1{
        font-size: 30px;
    }
    .vcard{
        width: 150px;
        height: 250px;
    }
    .vch1{
        font-size: 20px;
    }
    .ct{
        font-size: 40px;
        align-self: end;
    }
    .cst{
        font-size: 20px;
    }
    .cbtn{
        align-self: start;
    }


}

@media (min-width: 425px)  and (max-width: 662px){   
    .fcard{
        display: none;
    } 
    .bcard{
        display: none;
    }
    .ucard{
        display: none;
    }
    .ocard{
        display: none;
    }
    .tcard{
        display: none;
    }
    .vcard{
        display: none;
    }
    .skm{
        display: block;
        grid-column: span 3;
        grid-row: 2/4;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .skh1{
        font-size: 40px;
    }
    .skl1{
        width: 60%;
    }
    .skl2{
        width: 60%;
    }
    .ci1{
        width: 80px !important;
        height: 80px !important;
    }
    .cl1{
        font-size: 14px;
    }
    .ci2{
        width: 80px !important;
        height: 80px !important;
    }
    .cl2{
        font-size: 12px;
    }
    .ci3{
        width: 60px !important;
        height: 60px !important;
    }
    .cl3{
        font-size: 16PX;
    }
    .fcardm{
        grid-row: 1/2;
        grid-column: 1/2;
        width: 150px;
        height: 250px;
    }
    .fch1{
        font-size: 30px;
    }
    .bcardm{
        grid-row: 1/2;
        grid-column: 2/3;
        width: 150px;
        height: 250px;
    }
    .bch1{
        font-size: 30px;
    }
    .ucardm{
        grid-row: 2/3;
        grid-column: 1/2;
        width: 150px;
        height: 250px;
    }
    .uch1{
        font-size: 30px;
    }
    .ocardm{
        grid-row: 2/3;
        grid-column: 2/3;
        width: 150px;
        height: 250px;
    }
    .och1{
        font-size: 28px;
    }
    .tcardm{
        grid-row: 3/4;
        grid-column: 1/2;
        width: 150px;
        height: 250px;
    }
    .tch1{
        font-size: 30px;
    }
    .vcardm{
        grid-row: 3/4;
        grid-column: 2/3;
        width: 150px;
        height: 250px;
    }
    .vch1{
        font-size: 20px;
    }
    .ct{
        font-size: 30px;
        align-self: end;
    }
    .cl{
        width: 50%;
    }
    .cst{
        font-size: 14px;
    }
    .cbtn{
        width: 70px;
        height: 15px;
        text-align: center;
        align-self: start;
    }
}
@media (min-width: 320px)  and (max-width: 424px){   
    .fcard{
        display: none;
    } 
    .bcard{
        display: none;
    }
    .ucard{
        display: none;
    }
    .ocard{
        display: none;
    }
    .tcard{
        display: none;
    }
    .vcard{
        display: none;
    }
    .skm{
        display: block;
        grid-column: span 3;
        grid-row: 2/4;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .skh1{
        font-size: 30px;
    }
    .skl1{
        width: 70%;
    }
    .skl2{
        width: 70%;
    }
    .ci1{
        width: 70px !important;
        height: 70px !important;
    }
    .cl1{
        font-size: 10px;
    }
    .ci2{
        width: 70px !important;
        height: 70px !important;
    }
    .cl2{
        font-size: 10px;
    }
    .ci3{
        width: 60px !important;
        height: 60px !important;
    }
    .cl3{
        font-size: 12PX;
    }
    .fcardm{
        grid-row: 1/2;
        grid-column: 1/2;
        width: 120px;
        height: 220px;
    }
    .fch1{
        font-size: 20px;
    }
    .bcardm{
        grid-row: 1/2;
        grid-column: 2/3;
        width: 120px;
        height: 220px;
    }
    .bch1{
        font-size: 20px;
    }
    .ucardm{
        grid-row: 2/3;
        grid-column: 1/2;
        width: 120px;
        height: 220px;
    }
    .uch1{
        font-size: 20px;
    }
    .ocardm{
        grid-row: 2/3;
        grid-column: 2/3;
        width: 120px;
        height: 220px;
    }
    .och1{
        font-size: 18px;
    }
    .tcardm{
        grid-row: 3/4;
        grid-column: 1/2;
        width: 120px;
        height: 220px;
    }
    .tch1{
        font-size: 20px;
    }
    .vcardm{
        grid-row: 3/4;
        grid-column: 2/3;
        width: 120px;
        height: 220px;
    }
    .vch1{
        font-size: 15px;
    }
    .ct{
        font-size: 20px;
        align-self: end;
    }
    .cl{
        width: 50%;
    }
    .cst{
        font-size: 10px;
    }
    .cbtn{
        width: 70px;
        height: 20px;
        text-align: center;
        align-self: start;
    }
}