/* @import url('https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css');
code {
  font-family: 'Fira Code', monospace;
} */

html{
    background-color: #282C33;
    overflow-x: hidden;

}
body{
    background-color: #282C33;
}
header{
    font-family: Fira Code;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    padding: 32px 0px 8px 0px;
    justify-content: space-between;
    align-items: flex-end;

    
}
.navbar{
    width: 1300px;
    height: 50px;
    background-color: #282C33;
    position: fixed;
    bottom: 95%;
    left: 16%;
    z-index: 2;
    /* border: 1px solid var(--gray, #ABB2BF); */
}

.nav-link{
    color: var(--gray, #ABB2BF);
    font-family: Fira Code;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.nav-link :hover{
    color: var(--white, #fff)!important;
}
.nav {
    
    --bs-nav-link-hover-color: #ffffff;
    --bs-nav-link-disabled-color: var(--bs-secondary-color);
    position: relative;
    left: 125%;
}
.hash{
    color: var(--primary, #C778DD) !important;
    font-family: Fira Code;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    
}
.active{
    color: var(--white,#fff);
}
/*For header name jaeromel*/

.fs-4{
    color: var(--white, #FFF);
font-family: Fira Code;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.con{
    margin-top: 7%;
}
.d-flex{
    position: relative;
    bottom: 50%;
}



.flex-container{

    position: fixed;
    transform: rotate(90deg);
    width: 311px;
    height: 32px;

    
}

.flex-container .line{
    position: fixed;
    top: -100px;
    right: 45%;
    bottom: 45%;
    left: 45%;
    width: 1px;
    height: 191px;
    transform: rotate(90deg);
    fill: var(--gray, #ABB2BF)!important;
}
.flex-container .git{
    position: fixed;
    top: 3px;
    right: 50%;
    bottom: 45%;
    left: 78%;
    width: 5px;
    height: 10px;
    /* position:relative; */
    padding-top: 8px;
    transform: rotate(270deg);
}
.flex-container .linkin{
    width: 1px;
    height: 1px;
    transform: rotate(360deg); 
    /* position: absolute; */
    top: 150%;
}


h1{
    width: 650px;  
}

.greet{
    color: var(--white, #FFF);
    font-family: Fira Code;
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.pa{
    width: 463px;
    color: var(--gray, #ABB2BF);
font-family: Fira Code;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 25px; /* 156.25% */
}

.image{
    position: absolute;
    right: 59%;
    left: 60.5%;
    top: 11%;
    width: 457px;
    height: 386px;
    flex-shrink: 0;
    z-index: 1;

}
.logo_1{
    position: absolute;
    right: 80%;
    left: -5%;
    top: 22%;
    bottom: 0%;
    width: 155px !important;
    height: 155px;  
    flex-shrink: 0;   
    z-index: -1;  
}

.live_btn{
    display: inline-flex;
    padding: 8px 16px;
    align-items: flex-start;
    gap: 10px;
    border: 1px solid var(--primary, #C778DD);
    background-color: transparent;
}

.txt{
    color: var(--white, #FFF);
font-family: Fira Code;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.ellipse{
    display: flex;
width: 84px;
height: 84px;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
flex-shrink: 0;
position: relative;
left: 78%;
right: 50%;
top:-40%;
}
.ellipse22{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    height: 2px;
    width: 84px;
}

.rect{
    /* display: flex; */
    width: 402px;
    height: 30px;
    padding: 8px;
    align-items: center;
    /* gap: 10px; */
    border: 1px solid var(--gray, #ABB2BF);
    position: absolute;
    right: 10px;
    bottom: 6px;
    left: 1170px;
    top: 490px;
}
.rect-txt{
    color: var(--gray, #ABB2BF);
font-family: Fira Code;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
align-items: center;
position: relative;
left: 7%;
top: -180%;
bottom: 10%;
/* padding-top: 8px; */
}
.square{
    width: 16px;
    height: 16px;
    padding-bottom: 8px;
    position: relative;
    top: -10%;
    border: 1px solid var(--primary, #C778DD);
    background: var(--primary, #C778DD);
}
.b{
    display: none;
}
.nav-m{
    display: none;
}
.quote{
    position: absolute;
    top: 70%;
    left: 30%;
    align-items: center;
}
.qbox{
    display: inline-flex;
    padding: 32px;
    align-items: flex-start;
    border: 1px solid var(--gray, #ABB2BF);
    background: var(--background, #282C33);
}
.qtxt{
    color: #FFF;
    font-family: Fira Code;
    font-size: 24px;
    margin-bottom: 0%;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.qicon{
    display: flex;
    padding: 4px 8px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;  
    position: absolute;
    left: 11px;
    top: -14px;
    background: var(--background, #282C33);
}
.qboxs{
    display: flex;
    padding: 16px;
    align-items: flex-start;
    gap: 10px;
    position: absolute;
    right: 0px;
    bottom: -50px;
    border: 1px solid var(--gray, #ABB2BF);    
    padding: 8px;
}
.qtxt1{
    color: #FFF;
    font-family: Fira Code;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;  
    margin-bottom: 0px;  
}
.qsquare{
    width: 91px;
    height: 91px;
    flex-shrink: 0; 
    border: 1px solid var(--gray, #ABB2BF);
    position: absolute;
    top: 70%;
    left: 97%;

}
.prosum{
    display: flex;
    position: absolute;
    top: 100%;
    bottom: -8%;
}
.proh2{
    color: var(--white, #FFF);
    font-family: Fira Code;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;    
}
.proline{
    height: 2px;
    flex:1 0 0;
    fill: var(--primary, #C778DD);
    position: absolute;
    left: 70%;
    top: 10%;
    

}
.prolink{
    position: relative;
    left: 380%;
}
.prop{
    color: var(--white, #ABB2BF);
    font-family: Fira Code;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;   
}
.prolink :hover{
    color: var(--white, #fff);
}
.upperbox{
    display: flex;
    width: 300px;
    height: 30px;
    padding: 8px;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;   
    border: 1px solid var(--gray, #ABB2BF); 
    position: absolute;
    top: 110%;
}
.lowerbox{
    display: flex;
    width: 300px;
    height: 230px;
    padding: 8px;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;   
    border: 1px solid var(--gray, #ABB2BF);
    position: absolute;
    top: 110%;

}
.procardtxt1{
    color: var(--gray, #ABB2BF);
    font-family: Fira Code;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;   
    position: relative; 
    top: -50%;
}
.procardtxt2{
    color: var(--white, #FFF);
    font-family: Fira Code;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal; 
    position: relative;   
    top: 15%;
}
.procardtxt3{
    color: var(--gray, #ABB2BF);
    font-family: Fira Code;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    position: absolute;   
    top: 35%;
    left: 3%;
    right: 4%;
}
.procardtxt4{
    color: var(--white, #FFF);
    font-family: Fira Code;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal; 
    position: absolute;   
    top: 20%;
}
.procard-btn{
    display: flex;
padding: 8px 16px;
align-items: flex-start;
gap: 10px;
border: 1px solid var(--primary, #C778DD);
background: transparent;
position: absolute;
top: 75%;
right: 47%;
}
.procard2{
    position: absolute;
    top: 110%;
    left: 33%;
}
.procard3{
    position: absolute;
    top: 110%;
    left: 50%;
}
.procard4{
    position: absolute;
    top: 110%;
    left: 67%;
}
.qsquare1{
    width: 155px;
    height: 155px;
    flex-shrink: 0; 
    border: 1px solid var(--gray, #ABB2BF);
    position: absolute;
    top: 110%;
    left: 97%;
}
.skill{
    position: absolute;
    top: 150%;
}
.skillline{
    height: 2px;
    flex:1 0 0;
    fill: var(--primary, #C778DD);
    position: absolute;
    left: 100%;
    top: 10%;
}
.skillcard{
    position: absolute;
    top: 160%;
    left: 46%;
}
.skillcard2{
    position: absolute;
    top: 160%;
    left: 58%;
}
.skillcard3{
    position: absolute;
    top: 160%;
    left: 71.2%;
}
.skillcard4{
    position: absolute;
    top: 180%;
    left: 71.2%;
}
.skillcard5{
    position: absolute;
    top: 172%;
    left: 58%;
}
.qsquare2{
    width: 90px;
    height: 90px;
    flex-shrink: 0; 
    border: 1px solid var(--gray, #ABB2BF);
    position: absolute;
    top: 157%;
    left: 33%;
}
.qsquare3{
    width: 60px;
    height: 60px;
    flex-shrink: 0; 
    border: 1px solid var(--gray, #ABB2BF);
    position: absolute;
    top: 182%;
    left: 37%;
}
.ellipse1{
    display: flex;
    width: 55px;
    height: 65px;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
flex-shrink: 0;
position: absolute;
top: 158%;
left: 19%;

}
.ellipse2{
    display: flex;
width: 50px;
height: 60px;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
flex-shrink: 0;
position: absolute;
top: 173%;
left: 29%;
}
.ellipse3{
    display: flex;
    width: 35px;
    height: 90px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
    position: absolute;
    top: 230%;
    left: 99%;
    transform: rotate(90deg);
}   
.slogo_1{
    position: absolute;
    top: 178%;
    left: 19.5%; 
}
.skillcardtxt1{
    color: var(--white, #ffffff);
    font-family: Fira Code;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;   
    position: relative; 
    top: -50%;
}
.upperbox1{
    display: flex;
    width: 182px;
    height: 30px;
    padding: 8px;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;   
    border: 1px solid var(--gray, #ABB2BF); 
    position: absolute;
    top: 110%;
}
.lowerbox1{
    display: flex;
    width: 182px;
    height: 87px;
    padding: 8px;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;   
    border: 1px solid var(--gray, #ABB2BF);
    position: absolute;
    top: 110%;

}
.upperbox2{
    display: flex;
    width: 198px;
    height: 30px;
    padding: 8px;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;   
    border: 1px solid var(--gray, #ABB2BF); 
    position: absolute;
    top: 110%;
}
.lowerbox2{
    display: flex;
    width: 198px;
    height: 87px;
    padding: 8px;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;   
    border: 1px solid var(--gray, #ABB2BF);
    position: absolute;
    top: 110%;

}
.upperbox3{
    display: flex;
    width: 220px;
    height: 30px;
    padding: 8px;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;   
    border: 1px solid var(--gray, #ABB2BF); 
    position: absolute;
    top: 110%;
}
.lowerbox3{
    display: flex;
    width: 220px;
    height: 160px;
    padding: 8px;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;   
    border: 1px solid var(--gray, #ABB2BF);
    position: absolute;
    top: 110%;

}
.upperbox4{
    display: flex;
    width: 220px;
    height: 30px;
    padding: 8px;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;   
    border: 1px solid var(--gray, #ABB2BF); 
    position: absolute;
    top: 110%;
}
.lowerbox4{
    display: flex;
    width: 220px;
    height: 160px;
    padding: 8px;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;   
    border: 1px solid var(--gray, #ABB2BF);
    position: absolute;
    top: 110%;

}
.upperbox5{
    display: flex;
    width: 198px;
    height: 30px;
    padding: 8px;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;   
    border: 1px solid var(--gray, #ABB2BF); 
    position: absolute;
    top: 110%;
}
.lowerbox5{
    display: flex;
    width: 198px;
    height: 87px;
    padding: 8px;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;   
    border: 1px solid var(--gray, #ABB2BF);
    position: absolute;
    top: 110%;

}
.about-me{
        position: absolute;
        top: 202%;

}
.aboutmeline{
    height: 2px;
    flex:1 0 0;
    fill: var(--primary, #C778DD);
    position: absolute;
    left: 110%;
    top: 17%;
    
}
.description{
    width: 515px;
    position: absolute;
    top: 210%;
}
.descriptiontxt{
    color: var(--gray, #ABB2BF);
    font-family: Fira Code;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */ 
}
.img_2{
    position: absolute;
    top: 205%;
    left: 65%;

}
.aboutmeline2{
    height: 2px;
    flex:1 0 0;
    fill: var(--primary, #C778DD);
    position: absolute;
    left: 9%;
    top: 97%;
    
}
.qsquare6{
    width: 100px;
    height: 150px;
    flex-shrink: 0; 
    border: 1px solid var(--gray, #ABB2BF);
    position: absolute;
    top: 220%;
    left: -3%;
}
.ellipse4{
    display: flex;
    width: 90px;
    height: 50px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
    position: absolute;
    top: 235%;
    left: 76.5%;
}  
.ellipse5{
    display: flex;
    width: 30px;
    height: 60px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
    position: absolute;
    top: 208%;
    left: 67.5%;
    transform: rotate(90deg);
}
.live_btn1{
    display: inline-flex;
    padding: 8px 16px;
    align-items: flex-start;
    gap: 10px;
    border: 1px solid var(--primary, #C778DD);
    background-color: transparent;
    position: absolute;
    top: 250%;
}
.contact-me{
    position: absolute;
    top: 270%;


}
.contactmeline{
height: 2px;
flex:1 0 0;
fill: var(--primary, #C778DD);
position: absolute;
left: 110%;
top: 17%;

}
.des{
    width: 515px;
    position: absolute;
    top: 280%;
}
.destxt{
    color: var(--gray, #ABB2BF);
    font-family: Fira Code;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */ 
}
.qsquare4{
    width: 250px;
    height: 130px;
    flex-shrink: 0; 
    border: 1px solid var(--gray, #ABB2BF);
    position: absolute;
    top: 288%;
    left: 72%;
}
.username1{
    color: var(--gray, #ABB2BF);
    font-family: Fira Code;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */ 
    position: relative;
    left: 20%;
    bottom: 22%;
}
.username2{
    color: var(--gray, #ABB2BF);
    font-family: Fira Code;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */ 
    position: relative;
    left: 20%;
    bottom: 60%;
}
.ellipse6{
    display: flex;
    width: 80px;
    height: 60px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
    position: absolute;
    top: 277%;
    left: -1%;
    transform: rotate(90deg);
}
.footer{
    position: absolute;
    top: 320%;
    left: -8%;
    width: 2060px;
}

hr{
    color: #ABB2BF;
    height: 8px;
    position: relative;
    top: 10%;
}
.unlogo{
    position: relative;
    left: 6%;
    top: 50%;
}
.destxt1{
    color: var(--gray, #ABB2BF);
    font-family: Fira Code;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */ 
    position: absolute;
    left: 10%;
    top: 5%;
}
.txt1{
    color: var(--white, #FFF);
font-family: Fira Code;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
position: absolute;
top: 150%;
}
.txt2{
    color: var(--white, #FFF);
font-family: Fira Code;
font-size: 27px;
font-style: normal;
font-weight: 500;
line-height: normal;
position: relative;
left: 8%;
}
.footleft{
    margin-top: 16px;
    position: absolute;
    left: 80%;
    top: 18%;
}
.logos{
    margin-top: 8px;
}
.copywrite{
    position: absolute;
    left: 50%;
    top: 210%;
}
.copywrite2{
    position: absolute;
    left: 50%;
    top: 250%;
}




@media (max-width: 380px) {
    .container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
      }
      header.d-flex {
        margin: 0px !important;
        height: 40px;
      }
      
    .con{
        width: 300px;
    }
    h1{
        width: 328px;
    }
    .greet{
        font-size: 135%;
        padding-top: 10px;
        margin-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }
    .flex-container{
        opacity: 0%;
    }
    .pa{
        font-size: 12px;
    }

/* Element | file:///D:/My_portfolio/Home.html# */

    .img_1 > img:nth-child(1) {
        width: 340px;
    }
    .logo_1>img:nth-child(1){
        width: 109px;
        position: relative;
        top: -15%;
        left: 14%;

    }
    .image{
        position: absolute;
        top: 45%;
        left: 3%;
        right: 30%;
    }
    .ellipse {
        position: relative;
        bottom: 20%;
        right: 10%;
        left: 55%;
        top: -30%;
        bottom: 10%;

        }
    .live_btn{
        display: none;
    }

    .nav{
        display: none;
    }
    .nav-m{
        grid-row: auto;
        position: absolute;
        left: 90%;
    }
    .b{
        display: block;
    }
    .b1{
        display: none;
    }
    .rect{
        position: absolute;
        right: 100%;
        left: 5%;
        top: 85%;
        width: 320px;
        padding: 8px;
    }
    .secquote{
        display: none;
    }
    .s2{
        display: none;
    }
    .s3{
        display: none;
    }
    .s4{
        display: none;
    }
    .s5{
        display: none;
    }
    

}
