@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
.grid-container{
    max-width: 1520px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(10px, auto) minmax(720px, auto) minmax(720px, auto) minmax(1080px, auto) minmax(1080px, auto)  minmax(360px, auto) minmax(40px, auto);
    grid-template-areas: "img content";
    /* gap: 10px; */

}
header{
    grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(100deg,rgb(190,0,234,0%), rgb(93,53,235,15%)  );
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    /* box-shadow: 0px 5px 10px rgb(128, 0, 128, 30%); */
    /* position: fixed; */



}
a{
    all: unset;
}

.headh2{
    justify-self: left;
    align-self: left;
    margin: 10px;
    color: rgb(93, 53, 135);
    font-family: Inter;
    font-weight: bolder;
    text-shadow: 5px 2px 4px rgb(93, 53, 135, 25%);
}
.nav-items{
    margin: 5px;
    justify-self: right;
    align-self: right;
    color: rgb(93, 53, 135);
    font-size: 20px;
    font-family: Inria Sans;
    font-weight: bold;
    
    
    
}
.menubar{
    display: none;
    justify-content: right;
    align-items: right;

}
.a1{
    margin: 10px;

}
.a1:hover{
    color: black;
    text-shadow: 5px 2px 4px rgb(93, 53, 135, 25%);
}
.a2{
    margin: 10px;

}
.a2:hover{
    color: black;
    text-shadow: 5px 2px 4px rgb(93, 53, 135, 25%);
}
.a3{
    margin: 10px;

}
.a3:hover{
    color: black;
    text-shadow: 5px 2px 4px rgb(93, 53, 135, 25%);
}
.a4{
    margin: 10px;

}
.a4:hover{
    color: black;
    text-shadow: 5px 2px 4px rgb(93, 53, 135, 25%);
}
.a5{
    margin: 10px;

}
.a5:hover{
    color: black;
    text-shadow: 5px 2px 4px rgb(93, 53, 135, 25%);
}


 .welcom{
    /* margin-top: 47px; */
    grid-column: span 3;
    background-image: linear-gradient(100deg,rgb(190,0,234,0%), rgb(93,53,235,15%)  );
    border-radius: 15px;
    border-top-right-radius: 0px;
    /* box-shadow: 0px 5px 10px rgb(128, 0, 128, 30%); */
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}
.ovelback{
    max-width: 100%;
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
    border-radius: 100px;
    box-shadow: 0 60px 12px -18px rgb(0, 0, 0,0.1), 0 60px 20px -12px rgb(0, 0, 0, 0.1);
    animation: anime 1.5s infinite ease-in-out alternate;
    -webkit-animation: anime 1.5s infinite ease-in-out alternate;

}

.ovelback:hover{
    max-width: 65%;

}
.mypic1{
    max-width: 100%;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 220px;
    align-self: center;
    justify-self: center;
    

}
.welcomh1{
    grid-column: 1/2;
    grid-row: 1/2;
    color: rgb(57, 36, 103);
    font-family: Inter;
    font-weight: bolder;
    font-size: 64px;
    justify-self: center;
    align-self: center;
    margin-bottom: 170px;
    text-shadow: 9px 2px 4px rgb(93, 53, 135, 25%);
}
.tagline{
    grid-column: 1/2;
    grid-row: 1/2;

    margin-left: 80px;
    margin-top: 140px;
    font-family: Inter;
    font-weight: bold;
    font-size: 38px;
    justify-self: center;
    align-self: center;
}
.ovels{
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: -1;
    max-width: 50%;
}

.welcombtn{
    grid-column: 1/2;
    background-color: rgb(163, 103, 177);
    grid-row: 1/2;
    max-width: 160px;
    height: 50px;
    border: 0px;
    border-radius: 50px;
    font-family: Inter;
    font-weight: bold;
    font-size: 20px;
    color: white;
    /* justify-self: center;
    align-items: center; */
    margin-left: 90px;
    margin-top: 240px;
    box-shadow: 0 60px 12px -18px rgb(0, 0, 0,0.1), 0 60px 20px -12px rgb(0, 0, 0, 0.1);
    animation: anime 1s infinite ease-in-out alternate;
    -webkit-animation: anime 1s infinite ease-in-out alternate;

}
.welcombtn:hover{
    background-color: white;
    border: 1px solid rgb(163, 103, 177);
    color: purple;
}
.aboutme{
    grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.abtpic{
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
    max-width: 100%;
}
.abtdiv{
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    grid-template-rows: 1fr minmax(690px auto) 1fr;
}
.abth1{
    grid-row: 1/2;
    color: rgb(57, 36, 103);
    font-family: Inter;
    font-weight: bolder;
    font-size: 64px;
    text-shadow: 9px 2px 4px rgb(93, 53, 135, 25%);
    margin-bottom: 0px;
    justify-self: left;
    align-self: left;

}
.abth1m{
    display: none;
    grid-row: 1/2;
    color: rgb(57, 36, 103);
    font-family: Inter;
    font-weight: bolder;
    font-size: 40px;
    text-shadow: 9px 2px 4px rgb(93, 53, 135, 25%);
    margin-bottom: 0px;
    justify-self: center;
    align-self: left;

}
.abtp{
    grid-row: 2/3;
    font-family: Inter;
    font-weight: medium;
    font-size: 20px;
    margin-bottom: 0px;
    justify-self: left;
    align-self: left;

}
.abtbtn{
    grid-row: 3/4;
    background-color: rgb(163, 103, 177);
    max-width: 160px;
    height: 50px;
    border: 0px;
    border-radius: 50px;
    font-family: Inter;
    font-weight: bold;
    font-size: 20px;
    color: white;
    box-shadow: 0 60px 12px -18px rgb(0, 0, 0,0.1), 0 60px 20px -12px rgb(0, 0, 0, 0.1);
    animation: anime 1s infinite ease-in-out alternate;
    -webkit-animation: anime 1s infinite ease-in-out alternate;
    justify-self: left;
    align-self: left;
}
.abtbtn:hover{
    background-color: white;
    border: 1px solid rgb(163, 103, 177);
    color: purple;
}

/* The sidebar menu */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    background-image: linear-gradient(100deg,rgba(255, 255, 255, 10%), rgb(93,53,235,15%)  );
    backdrop-filter: blur(8px);
    border-radius: 20px;
}
/* Sidebar links */
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(68, 31, 107);
    font-size: 20px;
    font-family: Inria Sans;
    font-weight: bolder;
    display: block;
    transition: 0.3s;
}
.sidebar a:hover{
    color: black;
    text-shadow: 5px 2px 4px rgb(93, 53, 135, 25%);
}

/* Close button */
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.projects{
    grid-column: span 3;
    background-image: linear-gradient(100deg , rgb(93,53,235,15%)  ,rgb(190,0,234,0%));
    border-radius: 15px;
    /* max-width: 100vw; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100vh 100vh 100vh;
    justify-content: center;
    align-content: center;
}
.projectsn{
    width: 100%;
    height: 100%;
    grid-row: span 3;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-self: center;
    align-self: center;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: Y mandatory;
}
.projectsn > .project1{
    justify-self: center;
    align-self: center;
    scroll-snap-align: start;
}
.projectsn > .project2{
    justify-self: center;
    align-self: center;
    scroll-snap-align: start;
}
.projectsn > .project3{
    justify-self: center;
    align-self: center;
    scroll-snap-align: start;
}



@keyframes anime {
    100% {
        transform: translateY(20px);
        -webkit-transform: translateY(20px);
        -moz-transform: translateY(20px);
        -ms-transform: translateY(20px);
        -o-transform: translateY(20px);
        box-shadow: 0 40px 10px -18px rgba(0,0,0,0.2), 0 40px 16px -12px rgba(0,0,0,0.2);
    }
}

/* responsive */

@media (max-width: 1520px){
    .tagline{
        margin-left: 20px;
        font-size: 35px;
        align-self: left;
        justify-self: left;
    }
    .welcomh1{
        margin-left: 20px;
        font-size: 60px;
        align-self: left;
        justify-self: left;
    }
    .welcombtn{
        max-width: 140px;
        font-size: 18px;
        margin-left: 20px;
        border-radius: 30px;
        align-self: left;
        justify-self: left;

    }

}
@media (max-width: 1290px) {
    .tagline{
        margin-left: 25px;
        font-size: 33px;
        align-self: left;
        justify-self: left;
    }
    .welcomh1{
        font-size: 58px;
        margin-left: 20px;
        align-self: left;
        justify-self: left;
    }
    .welcombtn{
        max-width: 135px;
        font-size: 16px;
        border-radius: 25px;
        align-self: left;
        justify-self: left;
        margin-left: 20px;

    }
}
@media (max-width: 1205px){
    .grid-container{
        grid-template-rows: minmax(10px, auto) minmax(620px, auto) minmax(720px, auto) minmax(1080px, auto) minmax(1080px, auto)  minmax(360px, auto) minmax(40px, auto);
    }
    .welcomh1{
        margin-left: 20px;
        font-size: 50px;
        align-self: left;
        justify-self: left;
    }
    .tagline{
        margin-left: 20px;
        margin-top: 80px;
        font-size: 26px;
        align-self: left;
        justify-self: left;
    }
    .welcombtn{
        max-width: 110px;
        font-size: 14px;
        margin-top: 180px;
        align-self: left;
        justify-self: left;
        margin-left: 15px;
    }
}
@media (min-width: 1231px) and (max-width: 1455px){
    .abtp{
        font-size: 15px;
    }
    .abth1{
        font-size: 60px;
        justify-self: left;
        align-self: center;
    }
}
@media (min-width: 1024px) and (max-width: 1230px){
    .abth1{
        font-size: 50px;
        justify-self: left;
        align-self: center;
    }
    .abtp{
        font-size: 14px;
        margin-top: 0px;
        
    }
    .abtbtn{
        justify-self: left;
        align-self: start;
    }
    .abtpic{
        margin-top: 40px;
        max-width: 70%;

    }
    .grid-container{
        grid-template-rows: minmax(10px, auto) minmax(620px, auto) minmax(120px, auto) minmax(1080px, auto) minmax(1080px, auto)  minmax(360px, auto) minmax(40px, auto);
    }
}
@media (min-width: 968px) and (max-width: 1023px){
    .abth1{
        font-size: 48px;
        justify-self: left;
        align-self: end;
    }
    .abtp{
        font-size: 13px;
        justify-self: left;
        align-self: center;
    }
    .abtpic{
        max-width: 65%;
        margin-top: 10px;
    }
    .abtbtn{
        justify-self: left;
        align-self: start;
        height: 40px;
    }

    .grid-container{
        grid-template-rows: minmax(10px, auto) minmax(620px, auto) minmax(120px, auto) minmax(1080px, auto) minmax(1080px, auto)  minmax(360px, auto) minmax(40px, auto);
    }
}
@media (max-width: 1024px){
    .welcombtn{
        margin-left: 35px;
    }
}
@media (max-width: 967px) {
    header{
        border-radius: 10px;
    }
    .nav-items{
        margin:0px;
        padding: 0px;
        font-size: 12px;
    }
    .headh2{
        font-size: 120%;
        margin: 5px;
        padding: 0px;
    }
    .grid-container{
        grid-template-rows: minmax(30px auto);
    }


}

@media  (min-width: 663px) and (max-width: 966px){
    header{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .welcomh1{
        margin-left: 10px;
        font-size: 30px;
        align-self: left;
        justify-self: left;

    }
    .tagline{
        margin-top: 10px;
        margin-left: 10px;
        font-size: 17px;
        align-self: left;
        justify-self: left;
    }
    .welcombtn{
        margin-top: 80px;
        margin-left: 10px;
        max-width: 100px;
        font-size: 12px;
        align-self: left;
        justify-self: left;
    }
    .grid-container{
        grid-template-rows: minmax(10px, auto) minmax(460px, auto) minmax(720px, auto) minmax(1080px, auto) minmax(1080px, auto)  minmax(360px, auto) minmax(40px, auto);
    }
    .ovelback{
        max-width: 350px;
        margin-bottom: 70px;
    }
    .abth1{
        font-size: 40px;
        justify-self: left;
        align-self: end;
        margin-top: 0px;
    }
    .abtp{
        font-size: 8px;
        justify-self: left;
        align-self: center;
        margin-top: 0px;
    }
    .abtpic{
        max-width: 68%;
        margin-top: 0px;
    }
    .abtbtn{
        justify-self: left;
        align-self: start;
        height: 40px;
    }

    .grid-container{
        grid-template-rows: minmax(10px, auto) minmax(620px, auto) minmax(120px, auto) minmax(1080px, auto) minmax(1080px, auto)  minmax(360px, auto) minmax(40px, auto);
    }

}
@media (max-width: 680px){
    header{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .nav-items{
        margin: 0px;
        padding: 0px;

    }
    .headh2{
        font-size: 120%;
        margin: 5px;
        margin-left:10px;
        padding: 0px;
    }
    .welcombtn{
        height: 40px;
    }
    .grid-container{
        grid-template-rows: minmax(30px auto);
    }
    .a1{
        display: none;
    }
    .a2{
        display: none;
    }
    .a3{
        display: none;
    }
    .a4{
        display: none;
    }
    .a5{
        display: none;
    }
    .menubar{
        display: contents;
    }

    .menubar{
        all: unset;
        display: block;
        max-width: 50px;
        margin: none;
        /* animation: anime 1s infinite ease-in-out alternate;
        -webkit-animation: anime 1s infinite ease-in-out alternate; */

    }
    .micon{
        width: 45%;
    }

}
@media (min-width: 530px) and (max-width: 662px){
    .abtp{
        font-size: 15px;
    }
}

@media (min-width: 437px) and (max-width: 662px){
    .ovelback{
        grid-column: 1/3;
        grid-row: 2/3;
        max-width: 350px;
        margin-bottom: 70px;
    }
    .welcomh1{
        grid-column: 1/3;
        grid-row: 1/2;
        margin-left: 10px;
        font-size: 45px;
        align-self: left;
        justify-self: left;
    }
    .tagline{
        grid-column: 1/3;
        grid-row: 1/2;
        margin-top: 30px;
        margin-left: 10px;
        font-size: 20px;
        align-self: left;
        justify-self: left;
    }
    .welcombtn{
        margin-top: 100px;
        margin-left: 10px;
        max-width: 100px;
        font-size: 12px;
        align-self: left;
        justify-self: left;
    
    }
    .ovels{
        max-width: 100%;
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .abth1{
        display: none;
    }
    .abtdiv{
        grid-row: 3/4;
        grid-column: 1/3;
        grid-template-rows:minmax(690px auto) 1fr;
    }
    .abtpic{
        grid-row: 2/3;
        grid-column: 1/3;
        max-width: 55%;
        margin: 20px;
    }
    .abtp{
        font-size: 10px;
        justify-self: center;
    }
    .abtbtn{
        justify-self: center;
        align-self: start;
        height: 35px;
    }
    .aboutme{
        grid-template-rows:minmax(100px, auto) 1fr 1fr;
    }
    .abth1m{
        display: block;
    }
}
@media (min-width: 320px) and (max-width:437px){
    .headh2{
        margin-left: 10px;
    }

    .ovelback{
        grid-column: 1/3;
        grid-row: 2/3;
        max-width: 270px;
        margin-bottom: 70px;
    }
    .welcomh1{
        grid-column: 1/3;
        grid-row: 1/2;
        margin-left: 10px;
        font-size: 30px;
        align-self: left;
        justify-self: left;
    }
    .tagline{
        grid-column: 1/3;
        grid-row: 1/2;
        margin-top: 0px;
        margin-left: 10px;
        font-size: 15px;
        align-self: left;
        justify-self: left;
    }
    .welcombtn{
        margin-top: 100px;
        margin-left: 10px;
        max-width: 80px;
        font-size: 10px;
        align-self: left;
        justify-self: left;
        
    
    }
    .ovels{
        max-width: 50%;
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .abth1{
        display: none;
    }
    .abtdiv{
        grid-row: 3/4;
        grid-column: 1/3;
        grid-template-rows:minmax(690px auto) 1fr;
    }
    .abtpic{
        grid-row: 2/3;
        grid-column: 1/3;
        max-width: 55%;
        margin: 20px;
    }
    .abtp{
        font-size: 8px;
        justify-self: center;
    }
    .abtbtn{
        justify-self: center;
        align-self: start;
        max-width: 80px;
        height: 30px;
        border-radius: 22px;
        font-size: 15px;
        box-shadow: 0 60px 12px -4px rgb(0, 0, 0,0.1), 0 60px 20px -12px rgb(0, 0, 0, 0.1);
    }
    .aboutme{
        grid-template-rows:minmax(100px, auto) 1fr 1fr;
    }
    .abth1m{
        display: block;
        font-size: 30px;
        justify-self: center;
        align-self: center;
    }
}

html {
    scroll-behavior: smooth;
  }

